<header></header>

  <router-outlet></router-outlet>

<footer>

  <section>
    <h1>Quem somos</h1>
    <p>Um estudante do sexto período de Análise e Desenvolvimento de Sistemas, desenvolvendo o front-end do projeto final da disciplina de Desenvolvimento Web 2.</p>
  </section>
  <section>
    <h1>Contato</h1>
    <p>Esta seção está aqui apenas para preencher o rodapé. Não vou incluir meu número ou e-mail por questões de segurança, mas você pode acessar meu GitHub: <a href="https://github.com/LucianoSegundo" target="_blank">LucianoSegundo</a> </p>
  </section>
  <section>
    <h1>Sobre aaplicação</h1>
    <p>A ideia surgiu com o objetivo de criar um sistema no qual você pode cadastrar e avaliar as broas dos seus estabelecimentos favoritos, evoluindo para um tipo de fórum sobre restaurantes.</p>
  </section>
  <section>
    <h1>Portifolio</h1>
    <ul>
      <li> <a href="https://github.com/LucianoSegundo/BroAvaliacao" target="_blank">Repositorio BroAvaliacao</a></li>
      <li> <a href="https://github.com/LucianoSegundo/BroAvaliacao-Back-End" target="_blank">Repositorio BroAvaliacao Back-End</a></li>
      <li> <a href="https://github.com/LucianoSegundo/DiarioDIgital" target="_blank">Repositorio DiarioDigital Back-End</a></li>
      <li> <a href="https://github.com/LucianoSegundo/DiarioDigital-Front-End" target="_blank">Repositorio Diario Digital Front-End</a></li>
      <li> <a href="riodigital-front-end.onrender.com" target="_blank">DiarioDigital Hospedado no render</a></li>
    </ul>
  </section>
</footer>